<section id="loginform">
    <h1>Login Form</h1>
    <form method="post" action="/user/login">
        <label> Email 
          <input placeholder="username" name='email' id='email' value=""/>
        </label>
        &nbsp;
        <label> Password
          <input placeholder="***************" type="password" name='password' id='password' value=""/>
        </label>
        &nbsp;
        <input type="submit" value="Submit">
              </label>
    </form>


</section>