<h1> Food filter </h1>
<p> What's your "food filter"? </p>

<form method="post" action="/filter">

    <label for="lowCal"> Low Calorie </label>
    <input type="checkbox" name="lowCal"> <br />

    <label for="vegan"> Vegan </label>
    <input type="checkbox" name="vegan"> <br />

    <label for="organic"> Organic </label>
    <input type="checkbox" name="organic"> <br />

    <input type="submit" value="Save">
</form>